/* 博客主题配置 */


@media only screen and (max-width: 600px){
#right-side-helper{
   display:None;
   }
}
.icon_align {
   vertical-align: bottom;
}
.chip_align {
   vertical-align: text-top;
}


code {
    overflow-wrap: break-word;
}
