/* 博客主题配置 */


.float-header {
	position:fixed;
	top:0; 
	width:100%; 
	z-index:100;
}

.float-footer {
	position: absolute;
	bottom: 0; 
	width:100%; 
}
/* 容器 */

/* 博文 */

/* 纵横列 */
.sidebar {
    position: fixed;
    z-index: 200;
	top: 200px;
	bottom: 200px;
	width: 100px;
	left: -200px;
	overflow: auto;
	background-color: #FFF;
	transition: transform .2s;
	
}
.icon-menu {
	font-size: 24px;
	background: url('/fonts/ic_menu_white_24px.svg') no-repeat 14px 1px;
}
.icon-menu-transform {
	transform:rotate(90deg);
}
.sidebar-show {
	left: 0px;
}

.search-box {
	margin-top: 10px; 
	margin-bottom: 10px;
}
.search-img {
	border: 0px;
	background: url('/fonts/ic_search_white_18px.svg') no-repeat 0px 14px; 
}

.search-text {
	font-size: 18px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 1;
}
.Copyright {
	font-size: 18px;
}