<div class="row">
  <table>
    <thead>
    <tr>
      分类
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col s8"><a href="{{'/index.html' | prepend: site.domain}}" cate="All">全部 <em> {{site.posts |
                                                                                               size}}</em></a></td>
    </tr>
    <tr>
      {% for category in site.categories order:ascending %}
      <td class="col s4"><a href="javascript:;" cate="{{ category | first }}">{{ category | first }} <em>{{ category |
                                                                                                         last | size
                                                                                                         }}</em></a>
      </td>
      {% endfor %}
    </tr>
    </tbody>
</div>



