<div class="nav-wrapper" style="background-color:#{{ site.theme_color }}">
  <a href="/" class="brand-logo">{{ site.title }}</a>
  <ul id="nav-desktop" class="right hide-on-med-and-down">
    <li>
      <a class='dropdown-trigger' data-target='dropdown-categories' href="javascript:void(0)">分 类</a>
      <!-- Dropdown Structure -->
      <ul id='dropdown-categories' class='dropdown-content'>
        {% for cat in site.categories %}
        <li><a href="/categories.html#{{ cat[0] }}">{{ cat[0] }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <a href="/tags.html">标 签</a>
    </li>
    <li>
      <a href="/archives.html">归 档</a>
    </li>
    <li>
      <a href="/about.html">关 于</a>
    </li>
  </ul>
  <ul id="nav-mobile" class="right sidenav">
    <li>
      <a class="waves-effect" href="/index.html"><i class="material-icons prefix">home</i>首 页</a>
    </li>
    <li>
      <a class="waves-effect" href="/categories.html"><i class="material-icons prefix">label</i>分 类</a>
    </li>
    <li>
      <a class="waves-effect" href="/tags.html"><i class="material-icons prefix">local_offer</i>标 签</a>
    </li>
    <li>
      <a class="waves-effect" href="/archives.html"><i class="material-icons prefix">archive</i>归 档</a>
    </li>
    <li>
      <a class="waves-effect" href="/about.html"><i class="material-icons prefix">info</i>关 于</a>
    </li>
  </ul>
  <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only">
    <i class="material-icons">menu</i>
  </a>
</div>
