<div class="nav-wrapper">
  <a href="/" class="brand-logo">{{ site.title }}</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down sidenav">
    <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only">
      <i class="material-icons">menu</i>
    </a>
    <li>
      <a href="/categories.html">分 类</a>
    </li>
    <li>
      <a href="/tags.html">标 签</a>
    </li>
    <li>
      <a href="/archives.html">归 档</a>
    </li>
    <li>
      <a href="/about.html">关 于</a>
    </li>
  </ul>
</div>
