<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="theme-color"
        content="#{% if page.theme_color %}{{ page.theme_color }}{% else %}{{ site.theme_color }}{% endif %}">
  <meta name="description"
        content="{{ page.title }} - {{ site.title }} - {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <title>
    {{ page.title }} - {{ site.title }}
  </title>

  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/jquery.mobile-events.min.js"></script>

  <!-- MUICSS -->
  <!--<link href="/css/mui.min.css" rel="stylesheet" type="text/css"/>-->
  <!--<script src="/js/mui.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- 博客样式 -->
  <link href="/css/blog.css" rel="stylesheet" type="text/css"/>
  <!--<script src="/js/blog.js"></script>-->
  <!-- 代码样式 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
<!-- 顶栏 提示信息-->
<header style="background-color:#{{ site.theme_color }}">
  <!-- 导航区域 -->
  <nav>
    {% include navigation.html %}
  </nav>
  {% include header.html %}
</header>

<!-- 主体内容区域 -->
<div id="container" class="container">
  <div class="row">
    <!--div -->
    <div id="container-content" class="col s12 m10 l9">
      {{ content }}
    </div>

    <!-- 右侧栏 推广 -->
    <div class="col s0 m2 l3">
      {% include categories.html %}
      {% include hot.html %}
      <img style="float:center;height:128px;width:128px;" src="/images/qr-wechat.jpg"/>
      <div class="fixed-action-btn">
        <a class="btn-floating green">
          <i class="material-icons">publish</i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- 低栏 版权、外部脚本等 -->
<footer class="page-footer" style="background-color:#{{ site.theme_color }}">
  {% include footer.html %}
</footer>
<script type="text/javascript">
    $(document).ready(function(){
      $('.fixed-action-btn').floatingActionButton();
    });
</script>
</body>

</html>
