<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="theme-color"
        content="#{% if page.theme_color %}{{ page.theme_color }}{% else %}{{ site.theme_color }}{% endif %}">
  <meta name="description"
        content="{{ page.title }} - {{ site.title }} - {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <title>
    {{ page.title }} - {{ site.title }}
  </title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- 代码样式 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">

  <!-- 博客样式 -->
  <link href="/css/blog.css" rel="stylesheet" type="text/css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/1.0.0/jquery.mobile-events.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <!--<script src="/js/blog.js"></script>-->

</head>

<body>
<!-- 顶栏 提示信息-->
<header style="background-color:#{{ site.theme_color }}">
  {% include header.html %}
</header>

<!-- 主体内容区域 -->
<main id="container" class="container">
  <div class="row">
    <!--div -->
    <div id="container-content" class="col s12 m8 l9">
      {{ content }}
    </div>

    <!-- 右侧栏 显示更多信息 -->
    <div id="right-side-helper" class="col m4 l3">
      <div id="article-user" class="hide-on-small-only toc-wrapper">
      </div>
      <div id="article-toc" class="hide-on-small-only toc-wrapper">
      </div>
      <div id="article-recommend" class="">
        <!-- 推荐 -->
        {% include hot.html %}
        {% include tags.html %}
        <div id="pinned_qrCode" class=".show-on-large">
          <img style="float:center;height:64px;width:64px;" src="/images/qr-wechat.jpg"/>
        </div>
      </div>

      <div class="fixed-action-btn">
        <a class="btn-floating red" href="javascript:void(0)" onclick="scrollingHead()">
          <i class="material-icons">arrow_drop_up</i>
        </a>
        <a class="btn-floating yellow" href="javascript:void(0)" onclick="scrollingTail()">
          <i class="material-icons">arrow_drop_down</i>
        </a>
        <a class="btn-floating">
          <i class="material-icons">share</i>
        </a>
      </div>
    </div>

  </div>
  <div class="row">
    <div id="mobile-recommend" class="col s12 ">

    </div>
  </div>
</main>

<!-- 低栏 版权、外部脚本等 -->
<footer class="page-footer" style="background-color:#{{ site.theme_color }}">
  {% include footer.html %}
</footer>
<script type="text/javascript">
    $(document).ready(function(){
      $('.fixed-action-btn').floatingActionButton();
      $('.sidenav').sidenav();
      hljs.initHighlightingOnLoad();
    });



function scrollingHead(){
  $("html,body").stop().animate({scrollTop: $(window).scrollTop()-window.screen.height}, "normal");
}
function scrollingTail(){
  $("html,body").stop().animate({scrollTop: $(window).scrollTop()+window.screen.height}, "normal");
}
</script>
</body>

</html>
