---
layout: default
---

<!-- 加载博文 -->

<div class="">
  <h1>{{ page.title }}</h1>

  {% if page.meta %} • {{ page.meta }}{% endif %}
  <hr>
  <article>
    {{ content }}
  </article>
  <div class="row card-panel">
    <ul class="col s12 m10 l9">
      <li>
        {% if page.author %}
        本文由<a href="https://github.com/{{ page.author }}" target="_blank">{{ page.author }}</a>
        {% else %}
        本文由<a href="https://github.com/{{ site.author }}" target="_blank">{{ site.author }}</a>
        {% endif %}
        于 {{ page.date | date: '%Y年%m月%d日' }}发表
      </li>
      <li>
        可在<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/"
             title="查看协议详细信息" target="_blank">CC BY-NC-SA 3.0</a>协议下转载
      </li>
    </ul>
    <div class="col m2 l1 offset-l2">
      <a href="https://github.com/{{ site.author }}/blog/edit/master/{{ page.path }}"
         target="_blank">纠错</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col s12 m6 l6">上篇：
                        {%if page.previous%}
      <a href="{{page.previous.url}}">{{page.previous.title}} </a>
                        {% else %}
      <a href="/index.html">没有了，回首页</a>
                        {%endif%}
    </div>
    <div class="col s12 m6 l6">下篇：
                        {%if page.next%}
      <a href="{{page.next.url}}">{{page.next.title}}</a>
                        {% else %}
      <a href="/index.html">没有了，回首页</a>
                        {%endif%}
    </div>
  </div>
</div>
<!-- 加载博客评论 -->
<div class="">
  {% include comment.html %}
</div>

<script type="text/javascript" src="/js/post-toc.js"></script>
<script type="text/javascript" src="/js/github-widget.js"></script>
<script type="text/javascript">
$(document).ready(function(){
{% if page.author %}
  getUserInfo("{{ page.author }}", widget);
{% else %}
  getUserInfo("{{ site.author }}", widget);
{% endif %}
});
</script>